body {
    background-color: rgb(249, 142, 156);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
#show {
    background-color: white;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #383838cc;
}
#seleciona {
display: flex;
justify-content: center;
}

input{
    margin-left: 25px;
    border-radius: 12px;
    padding: 1%;
}
input, label {
    margin-top: 40px;
    margin-bottom: 30px;
}
label {
    margin-left: 50px;
}
#button {
padding: 2%;
}

